.contact-form {
  container: form-container / inline-size;
  width: 100%;
  form {
    min-height: 480px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    input,
    select,
    textarea,
    .button-container {
      width: 100%;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > * {
      grid-column: span 2;
      padding: 1rem;
    }
  }
}

@container form-container (min-width: 480px) {
  .contact-form form > :nth-child(-n + 6) {
    grid-column: span 1;
  }
}
