@use "./footer.scss";
@use "./navbar.scss";
@use "./ui.scss";
@import url("./_fonts.css");
@import url("./_variables.css");

* {
  position: relative;
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

html,
body {
  width: 100%;
}

button {
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

small,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

ul li,
ol li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0px;
  padding: 0.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  color: white !important;

  > :nth-child(odd):not(header) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  header,
  section {
    width: 100%;
    display: flex;
    flex-direction: column;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }

    button {
      padding: 0.5rem 1rem;
    }

    .info-section,
    .media-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
    }

    .info-section {
      background-color: rgba(0 0 0 / 0.145);
      align-items: flex-start;

      > * :not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    .media-section {
      background-color: rgba(0, 0, 0, 0.3);

      > :first-child {
        background-color: rgb(197, 135, 0);
        min-height: 480px;
      }
    }
  }

  header {
    min-height: 480px;
    justify-content: flex-end;
    background-color: rgb(197, 135, 0);
  }
}

.page-section {
  width: 100%;
  padding-left: clamp(0rem, -38.571rem + 42.857vw, 30rem);
  padding-right: clamp(0rem, -38.571rem + 42.857vw, 30rem);
}

.page {
  margin-top: 5rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.phone-icon {
  transform: scaleX(-100%);
}

button.class-1 {
  background-color: rgb(36, 36, 36);
  border-radius: 0.33rem;
  color: white;
}

ul.flex-cards {
  $min-card-width: 300px;
  $gap: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: $gap;
  width: 100%;

  li.service-card {
    background-color: rgba(0, 0, 0, 0.1);
    flex: 1 1 $min-card-width;
    min-height: 240px;
  }

  @media (min-width: calc($min-card-width * 2 + $gap)) {
    grid-template-columns: repeat(2, 1fr);

    li.service-card {
      min-height: 0;
    }
  }

  @media (min-width: calc($min-card-width * 4 + $gap * 3)) {
    grid-template-columns: repeat(4, 1fr);
    li.service-card {
      aspect-ratio: auto;
      max-height: none;
    }
  }
}

@media (min-width: 768px) {
  main {
    header {
      flex-direction: row;
      .info-section {
        justify-content: center;
      }
    }

    section {
      &.alternating,
      &.alternating-reverse {
        .info-section {
          min-height: 480px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      &.alternating {
        flex-direction: row;
      }

      &.alternating-reverse {
        flex-direction: row-reverse;

        .info-section {
          align-items: flex-end;
        }
      }

      &.stacked {
        > * {
          align-items: center;
        }

        .media-section {
          > :first-child {
            width: 100%;
          }
        }
      }
    }
  }
}
