@use "./footer.scss";
@use "./navbar.scss";
@use "./ui.scss";
@use "./contact-form.scss";
@import url("./_fonts.css");
@import url("./_variables.css");

* {
  position: relative;
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

html,
body {
  width: 100%;
}

button {
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

small,
a,
p,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: Roboto, sans-serif;
}

small,
a,
p,
input,
select,
textarea {
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

ul li,
ol li {
  list-style-type: none;
}

input,
select,
textarea {
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0px;
  padding: 0.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  color: white !important;

  header,
  section {
    width: 100%;
    display: flex;
    flex-direction: column;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }

    button {
      padding: 0.5rem 1rem;
    }

    .info-section,
    .media-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
    }

    .info-section {
      align-items: flex-start;
      gap: 1rem;

      > * :not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    .media-section {
      > :first-child {
        // background-color: rgb(197, 135, 0);
        // min-height: 480px;
      }
    }
  }

  header {
    min-height: 560px;
    justify-content: flex-end;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.75)
      ),
      url("/images/background-images/real-estate-background-2.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
  }
}

.page-section:not(#navbar) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.page-section {
  width: 100%;
  padding-left: clamp(0rem, -38.571rem + 42.857vw, 30rem);
  padding-right: clamp(0rem, -38.571rem + 42.857vw, 30rem);
}

.page {
  margin-top: 5rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.phone-icon {
  transform: scaleX(-100%);
}

button.class-1 {
  background-color: rgb(36, 36, 36);
  border-radius: 0.33rem;
  color: white;
}

button.class-2 {
  border: 3px solid var(--gold-light);
  color: var(--gold-light);
}

#testimonials {
  min-height: 560px;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("/images/background-images/real-estate-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

#call-to-action {
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 1000px;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("/images/background-images/real-estate-background-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);

  .info-section {
    background: linear-gradient(135deg, rgba(20, 20, 20), rgba(10, 10, 10));
  }

  .media-section {
    background-color: rgba(0, 0, 0, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  main {
    section {
      &.alternating,
      &.alternating-reverse {
        > * {
          width: 50%;
        }

        .info-section {
          min-height: 480px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      &.alternating {
        flex-direction: row;
      }

      &.alternating-reverse {
        flex-direction: row-reverse;

        .info-section {
          align-items: flex-end;
        }
      }

      &.stacked {
        > * {
          align-items: center;
        }

        .media-section {
          > :first-child {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main header {
    flex-direction: row;
    .info-section {
      justify-content: center;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.55);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      height: inherit;
      min-height: inherit;
      width: 80%;
      top: 0rem;
      left: -30%;
      transform: skewX(-22.5deg);
    }
  }
}
