#navbar,
.side-nav {
  z-index: 1000;
  position: fixed;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
  top: 0rem;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0 0 0 / 0.2);

  .logo-button,
  .nav-menu-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button#schedule-button {
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem;
  }

  .logo-button {
    margin-left: 1rem;
    aspect-ratio: 2 / 1;
    display: flex;
    gap: 1rem;

    p {
      min-width: 100px;
      font-weight: 400;
      color: var(--grey-dark);
    }

    img {
      height: 80%;
      width: auto;
    }
  }

  .nav-menu-button {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
  }

  .right-side {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #phone-number {
    padding: 0rem 1rem;
    display: flex;
    gap: 0.5rem;
    color: var(--grey-dark);

    #navbar-phone-icon {
      top: 2px;
    }
  }
}

.side-nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  height: 100dvh;
  left: 100vw;
  transition: left 0.5s ease;
  padding: 1rem;

  &.showing {
    left: 0rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-end;
    color: white;

    .nav-button {
      padding: clamp(
        1rem,
        -0.239rem + 4.665vw,
        2rem
      ); //Clamp padding between 1 to 2 from large mobile width (425px) to tablet width (768px)
      font-weight: 300;
      right: 0px;
      transition: all 0.2s;

      &:hover {
        right: 10px;
      }

      h4 {
        transition: all 0.2s;
        display: flex;
        gap: 1rem;
        font-size: 2rem;
        align-items: center;

        .icon {
          display: flex;
        }
      }

      &.active {
        h4 {
          padding-right: 1rem;
          border-right: 4px solid var(--gold-light);
          transition: all 0.2s;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  #navbar .logo-button {
    justify-content: flex-start;
    aspect-ratio: 1 / 1;
    p {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  #navbar #phone-number {
    display: none;
  }
}

@media (max-width: 350px) {
  #schedule-button {
    display: none;
  }
}
