.slider {
  .play-button-container,
  .control-button {
    z-index: 2;
  }

  .position-indicator,
  .play-button-container {
    position: absolute;

    h3 {
      font-size: 2rem;
    }
  }

  .play-button {
    padding: 1rem;
  }

  .position-indicator {
    bottom: 1rem;
    right: 1rem;
  }

  .controls-container {
    height: 100%;
    width: 100%;
    position: absolute;

    .control-buttons {
      height: inherit;
      display: flex;
      justify-content: space-between;

      .button-container {
        height: 100%;
        display: flex;
        align-items: center;
        .control-button {
          font-size: 2rem;
        }
      }
    }
  }

  .slides-container {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
      appearance: none;
    }

    display: flex;
    flex-basis: 100%;

    .slide-container {
      flex-basis: inherit;
      flex-shrink: 0;
      scroll-snap-align: start;

      .slide {
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 480px;
      }
    }
  }
}
